.MerchCard{
    color: #16161F;
    border-radius: 8px;
    padding: 16px;
    height: 220px;
    width: 200px;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
    border: 1px solid #A0A0B0;
}

.MerchCard:hover{
    transform: translateY(-4px);
    box-shadow: 0 0 20px rgba(0, 241, 254, 0.233);
    transition: box-shadow 0.7s ease-in-out, transform 0.7s ease-in-out;
    cursor:pointer;
}

.MerchCard p{
    font-size: 14px;
    line-height: 1.5;
    margin-top: 8px;
    color: #F2F2F7;
}

.MerchCard img {
  width: 100%;
  height: 100%;          
  object-fit: cover;      
  display: block;
  border-radius: 8px;
  overflow: scroll;
}
.MerchCard img:hover {
  transform: scale(1.1);
  transition: transform 0.7s ease-in-out;
}
.payment{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}

.payment button{
    background-color: #16161F;
    border: solid 1px #A0A0B0;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 1.5;
    color: #F2F2F7;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.payment button:hover{
    background-color: #F2F2F7;
    color: #16161F;
}

.merch-link {
  display: block;
  color: inherit;
  text-decoration: none;
}